.card-column {
    width: 50% !important;
    float: left !important;
    padding: 8% !important;
    box-sizing: border-box !important;
    margin-top: 5vh !important;
}

.column-1 {
    /*padding-top: 150px;*/
}

.column-2 {
    /*padding-top: 225px;*/
}

.card {
    width: 100%;
    max-width: 340px;
    position: relative;
    margin: auto;
    background: #f2f2f2;
    color: #000;
    /*cursor: pointer;*/
    margin-bottom: 10vmin;
    box-shadow: 0 20px 20px rgba(0,0,0,.5);
    border-radius: 5px;
    text-align: center;
}

/* PIECE OF TAPE */
.card:before {
    content: " ";
    display: block;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    width: 100px;
    height: 30px;
}

.card:before {
    margin-top: -12px;
    margin-left: -45px;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}


/* TACK
.card:before {
    content: "";
    display: block;
    background-image: url("img/tack.webp");
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 5;
    background-size: cover;
    background-position: right;
}

.card:before {
    margin-top: -17px;
    margin-left: -20px;
}
 */

/* Hanging Picture Frame
.border {
    position: absolute;
    width: 50%;
    height: 50%;
    padding: 6px;
    border: 2px solid #000;
    opacity: 0.5;
    left: 28%;
    top: -30px;
    rotate: 45deg;
    z-index: -1;
}
 */

.card h1 {
    position: relative !important;
    padding: 130% 0px 15px 0px !important;
    width: 100% !important;
    font-size: .5vmax !important;
    font-weight: normal !important;
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
}

.card > img {
    width: 92% !important;
    height: 80% !important;
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
    top: 4% !important;
    object-fit: cover !important;
    border-radius: 10px !important;
}

@media screen and (max-width: 600px) {
    .card-column {
        width: 90% !important;
    }

    .card {
        margin-left: 10% !important;
    }

    .column-1 {
        padding-top: 0px !important;
    }
    .column-2 {
        padding-top: 0px !important;
    }

    .open-content img {
        margin-top: 40px !important;
    }

}
